body {
  background-color: #FEF5CF;
}
header {
    width: 100%;
    background: #fbd433;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 2px #e5c026;
    z-index: 101;
}
header img {
  width: 90px;
  height: 65px;
}
#page-title {
  background-color: #FCDD5F;
  margin-top: 68px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#page-title h1 {
    padding: 0;
    margin:0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}
#hero {
  background-image: url("../img/heroold.jpg");
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 20px;
  color: white;
}
#hero h1 {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
}
#hero p {
  font-size: 17px;
  padding: 0 20px;
}
#content {
  margin-top: 10px;
  text-align: justify;
}
.one ,.two, .three, .four{
  background-color: #FFF;
  text-align: justify;
  height: 250px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #fbd433;
}
{.one ,.two, .three, .four} h2{
  color: white;
}
#content .one {
  background-image: url("../img/girl2.jpg");
  background-repeat: no-repeat;
}
#content .two {
  background-image: url("../img/girl5.jpg");
  background-repeat: no-repeat;
}
#content .three {
  background-image: url("../img/girl3.jpg");
  background-repeat: no-repeat;
}
#content .four {
  background-image: url("../img/girl4.jpg");
  background-repeat: no-repeat;
}

#first {
  margin-top: 10px;
}
#first .subsection {
  height: 250px;
  margin-top: 10px;
  padding: 10px;
  background-color: #FFF;
  box-sizing: border-box;
}
#first .subsection h2 {
  color: #fbd433;
}
#second {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #FFF;
}
#second h2 {
  color: #fbd433;
  text-transform: uppercase;
  font-size: 30px;
}
#second h2 span {
  display: block;
  color: #454545;
  padding: 0;
}
#second p {
  font-size: 15px;
  color:#555;
}
#third {
  margin-top: 20px;
  background-color: #FFF;
  padding-top: 20px;
}
#third h2 {
  color: #fbd433;
  text-transform: uppercase;
  font-size: 30px;
}
#third h2 span {
  display: block;
  color: #454545;
  padding: 0;
}
#third li {
  font-size: 15px;
  color:#555;
}
footer {
  margin-top: 20px;
  background-color: #fbd433;
  padding-top: 20px;
}
nav ul{
  padding-left: 285px;
  padding-top: 17px;
}
nav li {
  display: inline;
  font-size: 20px;
}
a{
  text-decoration: none;
}
a:hover {
  color: black;
}
header a {
  color: white;
  font-size: 20px;
}
#content a {
  color: orange;
}
#primary a {
  color: white;
}
